services:
  mypypi:
    ports:
      - 10608:10608 # Pypi Server
      - 10609:10609 # Pypi WebUI
    volumes:
      - ./packages:/app/packages
    restart: unless-stopped
    environment:
      - PYPI_UPSTREAM=https://mirrors.ustc.edu.cn/pypi/simple
    build:
      context: .
      dockerfile: Dockerfile
      args:
        HTTP_PROXY: http://wa.lan:7890
        HTTPS_PROXY: http://wa.lan:7890
        ALL_PROXY: http://wa.lan:7890
        NO_PROXY: localhost,wa.lan
